body {
	margin: 0;
	padding: 0;
	justify-content: center;
	min-height: 100vh;
	font-family: 'Poppins', sans-serif;
	background: #262626;
}
.section{
	display: flex;
	justify-content: center;
	margin-top: 2%;
}
.heading{
	margin-top: 5%;
	display: flex;
	justify-content: left;
	color: #fff;
	font-size: 30px;
	margin-left: 10%;
}
.card{
	position: relative;
	background: white;
	overflow: hidden;
	margin: 1% 1% 1% 1%;
	border-radius: 5px;
	box-shadow: -10px 10px 50px;
}
.colorgrid{
	width: 200px;
	height: 240px;
}
.square{
	position: absolute;
	width: 40px;
	height: 40px;
	overflow: hidden;
	bottom:0;
}
.primary_color{
	background: rgba(80, 197, 242);
}
.secound_color{
	background: rgba(98, 144, 195);
}
.third_color{
	background: rgba(50, 58, 69);
}
.fourth_color{
	background: rgba(194, 231, 218);
}
.fifth_color{
	background: rgba(174, 176, 181);
}
.logo_color_1{
	background: rgba(80, 197, 242);
}
.logo_color_2{
	background: rgba(245, 228, 116);
}
.logo_color_3{
	background: rgba(207, 69, 75);
}
.logo_color_4{
	background: rgba(188, 209, 93);
}
.logo_color_5{
	background: rgba(231, 140, 100);
}

.main{
	width: 200px;
	height: 200px;
	top:0;
}
.one{
	opacity: 0.8;
}
.two{
	opacity: 0.6;
	left:40px;
}
.three{
	opacity: 0.4;
	left:80px;
}
.four{
	opacity: 0.2;
	left:120px;
}
.five{
	opacity: 0;
	left:160px;
}
.textgrid{
	width: 100px;
	height: 100px;
}